@import "tailwindcss";

body {
  color: #101010;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 23.8px */
}

hr {
  height: 2px;
  background: #f3f3f3;
  color: #f3f3f3;
}
